/* Exemplo de como vai ficar */
.conteudo{
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

.conteudo h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
}

.resumo{
    border-left: 5px solid #780000;
    background-color: rgba(120,0,0,0.1);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.imagem{
    height: 350px;
    border: 2px dashed gray;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    margin-bottom: 50px;
}

.texto-grande{
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 60px;
}

.texto-grande h2{
    margin-bottom: 25px;
}

.mapa-mental{
    margin-bottom: 60px;
}

.caixa-mapa{
    height: 400px;
    border: 2px dashed gray;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

.video{
    margin-bottom: 60px;
}

.caixa-video{
    height: 400px;
    border: 2px dashed gray;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

.exercicios{
    margin-bottom: 80px;
}

.questao{
    padding: 25px;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
}